#!/bin/bash
# {{ ansible_managed }}
# ansibleguy.infra_django_apache

# django db schema update script

PATH_WEB='{{ path }}'
PATH_VENV='{{ site.path_venv }}'
PATH_OTHER='{% for pypath in site.env_pythonpath %}:{{ pypath }}{% endfor %}'

PYVER=`ls ${PATH_VENV} | grep python | cut -d ' ' -f1`

export DJANGO_SETTINGS_MODULE={{ site.project }}.settings
export PYTHONPATH=${PATH_WEB}:${PATH_VENV}/lib/${PYVER}/site-packages${PATH_OTHER}

{% if site.migration_pre_tasks | length > 0 %}
# pre migration tasks
{%   for task in site.migration_pre_tasks %}
{{ task }}
{%   endfor %}
{% endif %}

cd ${PATH_WEB}
source ${PATH_VENV}/bin/activate
${PATH_VENV}/bin/python3 manage.py makemigrations && ${PATH_VENV}/bin/python3 manage.py migrate && sudo systemctl restart apache2.service

{% if site.migration_post_tasks | length > 0 %}
# post migration tasks
{%   for task in site.migration_post_tasks %}
{{ task }}
{%   endfor %}
{% endif %}
